.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    background-color: #212531;
    color: #fff;
    align-items: center;
}

.container h1{
    margin-left: 15px;
}

.container h3{
    margin-left: 25px;
}